@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@200;300&family=Michroma&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --clr-black: #282a2a;
  --clr-brown: #b3854a;
  --clr-darkbrown: #9f7641;

  --clr-white: #fffefe;
  --clr-grey: #545554;
}

body {
  min-height: 100vh;
  font-family: "Exo 2", sans-serif;
}
.no-scroll {
  overflow: hidden;
}

img {
  display: block;
  max-width: 100%;
}
/* Utils */
section,
.footer-container {
  padding: 4rem 3rem;
}
.container {
  max-width: 1000px;
  margin: 0 auto;
}
.section-title,
.footer-title {
  text-transform: capitalize;
  margin: 0 auto 3rem;
  text-align: center;
  padding-bottom: 0.5rem;
  font-size: 1.5rem;
  font-family: "Michroma", sans-serif;
  border-bottom: 2px solid var(--clr-brown);
}
.section-title {
  max-width: 250px;
}
ul {
  list-style: none;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--clr-brown);
  border-radius: 2rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--clr-darkbrown);
}

/* Services */
.services-section,
.prices-section,
.reviews-section {
  background-color: var(--clr-black);
  color: var(--clr-white);
}

/* Front-page */
.hero-section {
  padding: 1rem 1.3rem;
  height: calc(100vh);
  background: no-repeat center/cover url("./images/mobile-image.jpeg");
  background-position: bottom;
}

/* Logo */
.logo-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo,
.hamburger {
  height: 3.5rem;
  cursor: pointer;
}
.hamburger {
  z-index: 10;
}

/* Nav Links */
nav ul {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.active {
  display: flex !important;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  max-height: 100vh;
  background-color: var(--clr-black);
}
nav li {
  display: inline-block;
  padding-bottom: 0.3rem;
  margin-bottom: 3rem;
  position: relative;
  color: var(--clr-white);
}
nav a {
  color: var(--clr-white);
  text-decoration: none;
  font-size: 2rem;
  font-family: "Michroma", sans-serif;
  transition: all 0.2s ease-in-out;
}
nav a:hover {
  color: var(--clr-brown);
}
nav a::after {
  content: " ";
  display: block;
  height: 2px;
  width: 0%;
  background-color: var(--clr-brown);
  position: absolute;
  bottom: 0;
  transition: all 0.4s ease-in-out;
}
nav a:hover::after {
  width: 100%;
}

/* Title */
.hero-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 200px);
  text-align: center;
}
.hero-title-icon {
  height: 5rem;
  margin: -1.8rem auto -1.2rem;
}
.hero-title {
  font-family: "Michroma", sans-serif;
  color: var(--clr-white);
  font-size: 2rem;
  text-shadow: 0 0 1px var(--clr-white);
  letter-spacing: 0.1rem;
}
.hero-subtitle {
  color: var(--clr-white);
  font-size: 0.8rem;
  font-weight: 200;
}

/* Services */
.services-icon {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.service-card {
  background-color: var(--clr-darkbrown);
  border-radius: 100%;
  font-size: 0.8rem;
  margin: 1.5rem auto 1rem;
  text-align: center;
  padding: 1.5rem;
}
.service-card img {
  height: 4rem;
  margin: -0.5rem auto -0.15rem;
}

/* Prices */
.prices-box {
  max-width: 400px;
  margin: 0 auto -2rem;
}
.price-text {
  color: var(--clr-white);
}

/* Reviews */
.review-card {
  background-color: var(--clr-brown);
  padding: 1.5rem;
  line-height: 150%;
  margin: 2rem auto;
  color: var(--clr-white);
}
.review-card img {
  width: 4rem;
  height: 4rem;
}
.review-text {
  padding: 1.2rem 0;
}
.avatar-box {
  display: flex;
  align-items: center;
}

/* Gallery */
.collage {
  max-height: 1200px;
}

/* Contatti */
.contact-section form {
  max-width: 700px;
  margin: 0 auto;
}
.contact-label {
  display: flex;
  font-weight: 600;
}
.contact-label::after {
  content: "*";
  color: var(--clr-brown);
}
.contact-input,
.contact-textarea {
  width: 100%;
  padding: 0.8rem;
  margin: 0.5rem 0 1rem;
  outline: none;
  font-size: 1rem;
  border-radius: 0.2rem;
  border: 1px solid var(--clr-black);
}
.contact-textarea {
  resize: none;
}
.contact-input:focus,
.contact-textarea:focus {
  border: 2px solid var(--clr-brown);
}
.contact-button {
  padding: 0.6rem 2rem;
  background-color: var(--clr-brown);
  color: var(--clr-white);
  font-size: 1rem;
  border: none;
  border-radius: 0.5rem;
}

/* Footer */
footer {
  background-color: var(--clr-black);
  color: var(--clr-white);
}
.footer-container {
  padding: 1.5rem;
  font-size: 0.7rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
.footer-title {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  text-align: left;
}
.footer-links {
  display: none;
}
.time-box p:first-child::before {
  content: "•";
  font-size: 1.2rem;
  color: var(--clr-brown);
  margin-right: 5px;
  display: inline-block; /* or block */
}
.time-box p:nth-of-type(2) {
  margin: 0 0 0 0.8rem;
}
.contact-box {
  display: flex;
  margin-bottom: 0.3rem;
}
.contact-box img {
  height: 1.5rem;
  padding-right: 0.2rem;
}

@media screen and (min-width: 768px) {
  /* Utils */
  .section-title {
    max-width: 350px;
    font-size: 2rem;
  }
  /* Nav */
  .hamburger {
    display: none;
  }
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  nav ul {
    display: block;
    flex-direction: row;
  }
  nav li {
    margin-left: 1.8rem;
    margin-bottom: 0;
  }
  nav a {
    font-size: 0.8rem;
  }

  /* Hero */
  .hero-section {
    padding: 1rem 3rem;
    height: calc(100vh - 50px);
    background: no-repeat center/cover url("./images/mobile-image.jpeg");
  }
  .hero-title {
    font-size: 3rem;
  }
  .hero-title-icon {
    height: 6rem;
  }
  .hero-subtitle {
    font-size: 1rem;
  }

  /* Services */
  .services-icon,
  .prices-container,
  .reviews-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .reviews-container {
    gap: 2rem;
  }

  /* Prices */
  .prices-container {
    align-items: center;
  }
  /* Footer */
  .footer-title {
    margin: 0 0 0.5rem;
  }
  .footer-links {
    display: block;
  }
  footer ul li {
    color: var(--clr-white);
    margin-bottom: 0.5rem;
  }
  footer ul li a {
    text-decoration: none;
    color: var(--clr-white);
  }
  footer ul li a:hover {
    color: var(--clr-brown);
  }
  .footer-container {
    padding: 1.5rem 0;
    font-size: 0.8rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}